<div class="header">
    <div class="image-container">
        <img src="/assets/background/apply.jpeg" alt="THD Campus" style="width:100%;">
        <!-- Container for images <header, body> -->
        <div class="image-content">
            <h1>{{ 'students.apply.image_container.header' | translate }}</h1>
            <h2>{{ 'students.apply.image_container.body' | translate }}</h2>
        </div>
    </div>
</div>
<!-- Body content <title, body> -->
<div class="content">
    <h1>{{ 'students.apply.intro.title' | translate }}</h1>
    <h1>{{ 'students.apply.intro.body' | translate }}</h1>
</div>
<mat-list>
    <!-- Application Options -->
    <div mat-subheader>{{ 'students.apply.application.application_option_1' | translate }}</div>
    <mat-list-item>
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <div mat-line>{{ 'students.apply.application.application_option_1_sub_1' | translate }}</div>
        <div mat-line>{{ 'students.apply.application.application_option_1_sub_2' | translate }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>{{ 'students.apply.application.application_option_2' | translate }}</div>
    <mat-list-item>
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <div mat-line>{{ 'students.apply.application.application_option_2_sub_1' | translate }}</div>
        <div mat-line>{{ 'students.apply.application.application_option_2_sub_2' | translate }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>{{ 'students.apply.application.application_option_3' | translate }}</div>
    <mat-list-item>
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <div mat-line>{{ 'students.apply.application.application_option_3_sub_1' | translate }}</div>
        <div mat-line>{{ 'students.apply.application.application_option_3_sub_2' | translate }}</div>
    </mat-list-item>
</mat-list>
<!-- Period Button -->
<a class="period-button" color="primary" mat-raised-button
    href="{{ 'students.apply.application.period_link' | translate }}" target="_blank">{{
    'students.apply.application.period_button' | translate }}</a>
<br><br>
<mat-divider></mat-divider>
<!-- Apply title -->
<div class="content">
    <h1>{{ 'students.apply.content.title' | translate }}</h1>
</div>
<br>
<!-- THD Apply button -->
<a mat-button color="primary" href="{{ 'students.apply.content.thd_link' | translate }}"
    target="_blank">{{ 'students.apply.content.thd_button' | translate }}</a>
<br><br>
<!-- EUR Section Apply Button -->
<a mat-button color="primary" href="{{ 'students.apply.content.european_link' | translate }}"
    target="_blank">{{ 'students.apply.content.european_button' | translate }}</a>
<br><br>
<mat-divider></mat-divider>
<!-- Requirement title -->
<div class="content">
    <h1>{{ 'students.apply.application.requirement_title' | translate }}</h1>
</div>
<mat-list>
    <div mat-subheader>{{ 'students.apply.application.requirement_sub_title' | translate }}</div>
    <ul>
        <li>{{ 'students.apply.application.requirement_1' | translate }}</li>
        <li>{{ 'students.apply.application.requirement_2' | translate }}</li>
        <li>{{ 'students.apply.application.requirement_3' | translate }}</li>
        <li>{{ 'students.apply.application.requirement_4' | translate }}</li>
        <li>{{ 'students.apply.application.requirement_5' | translate }}</li>
    </ul>
</mat-list>