input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}

mat-form-field, textarea {
    width: 100%;
    height: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}