<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cardData">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{ card.title | translate}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="card.imageURL" />
                <mat-card-content>
                    <p>{{ card.description | translate}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button color="primary" style='margin-right:16px'
                        routerLink="{{ card.routerLink }}">{{ card.routerLinkDescription | translate}}</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>