<header>
  <app-language></app-language>
</header>
<app-navigation-bar>
  <router-outlet></router-outlet>
</app-navigation-bar>
<footer class="footer">
  <div class="body">
    <p>{{ 'footer.content' | translate }}</p>
  </div>
  <div class="social-media">
    <a mat-raised-button color="primary" style='margin-right:16px' href="https://www.facebook.com/HochschuleDeggendorf"><i class="material-icons">facebook</i> Facebook</a>
    <a mat-raised-button color="primary" style='margin-right:16px' href="https://www.instagram.com/th_deggendorf"><i class="material-icons">linked_camera</i> Instagram</a>
    <a mat-raised-button color="primary" style='margin-right:16px' href="https://twitter.com/th_deggendorf"><i class="material-icons">text_fields</i> Twitter</a>
  </div>
</footer>